DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/database_name
FRONTEND_URL=https://notebook-python-fast-api.vercel.app
BACKEND_URL=http://localhost:8000
BREVO_API_KEY=your_brevo_api_key_here
BREVO_SENDER_EMAIL=your_verified_brevo_sender_email_here
JWT_SECRET_KEY=your_secure_random_jwt_secret_key_here
